<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to '首页', dashboard_path('~'), class: 'nav-link' %></li>
      <li class="dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="">分类文章概览<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to '技术类', articles_path %>
            <div class="border-gradient"></div>
          </li>
          <li><%= link_to '摄影类', articles_path %><div class="border-gradient"></div></li>
          <li><%= link_to '旅游类', articles_path %><div class="border-gradient"></div></li>
        </ul>
      </li>
      <li><%= link_to '留言板', leave_messages_path, class: 'nav-link' %></li>
      <li><%= link_to '个人信息展示', users_path, class: 'nav-link' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to '登录', new_session_path, class: 'nav-link' %></li>
      <li><%= link_to '注册', new_user_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>
