<%= render 'shared/navigation_bar' %>
<div class="container-fluid">
  <div class="row">
    <article class="col-sm-8 col-sm-offset-2">
      <h3>
        <%= @article.title %>
      </h3>
      <p>
        <%= @article.text %>
      </p>
    </article>
  </div>
  <%= render 'push_praises/push_praise' %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">有想法？快来给博主评论吧！</h3>
        </div>
        <div class="panel-body">
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>评论：</h3>
        <%= render @article.comments %>
    </div>
  </div>
  
</div>
<%#= @article.comments.create %>
<!-- <%= link_to '点赞',articles_path(article_id: @article.id), method: :post, remote: true, class: 'btn' %>
<span>0</span> -->
<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>

<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
<% end %>

<% content_for :javascript do %>
  $('.praise-btn').click(function(){
    $.ajax({
     type: "GET",
     url: "test.json",
     data: {count: $(".praise-count").val()+1},
     dataType: "json",
     success: function(data){
         <!-- $('#resText').empty();   //清空resText里面的所有内容 -->
         <!-- var html = '';  -->
         <!-- $.each(data, function(){ -->
      var praise_count = $(".praise-count").val();
      $(".praise-count").val(praise_count++);
               <!-- html += '<div class="comment"><h6>' + comment['username']
                         + ':</h6><p class="para"' + comment['content']
                         + '</p></div>'; -->
        <!--  }); -->
        <!-- $('#resText').html(html); -->
      }
    });
  })
<% end %>
