<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="">首页</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">分类文章概览<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="">技术类</a></li>
          <li><a href="">摄影类</a></li>
          <li><a href="">旅游类</a></li>
        </ul>
      </li>
      <li><a href="">留言板</a></li>
      <li><a href="">个人展示</a></li>
      <li><a href="">登录</a></li>
      <li><a href="">注册</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <article class="col-sm-8 col-sm-offset-2">
      <h3>
        <%= @article.title %>
      </h3>
      <p>
        <%= @article.text %>
      </p>
    </article>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">add a comment:</h3>
        </div>
        <div class="panel-body">
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>评论：</h3>
      <%= @article.comments.each do |a| %>
        <strong>a.id</strong>
      <% end %>
      <%= render @article.comments %>
    </div>
  </div>
  
</div>
<%#= @article.comments.create %>

<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>

<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
<% end %>

<% content_for :javascript do %>
<% end %>
