<%= render 'shared/navigation_bar' %>
<div class="container-fluid">
  <div class="row">
    <article class="col-sm-8 col-sm-offset-2 show-article">
      <h4>
        <%= @article.title %>
      </h4>
      <%#= @article.text.replace(new RegExp(/( )/g),"") %>
      <div class="article-content">
        <% kk = @article.text.split(" ")%>
        <% kk.each do |per| %>
          <p>
            <%= per %>
          </p>
        <% end %>
      </div>
      <div class="article-footer">
        <span class="pull-left">
          <%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
        </span>
        <!-- <span class="pull-right">
          <%#= render 'push_praises/push_praise' %>
        </span> -->
        <span class="pull-right">
          <a class="btn praise-btn" data-toggle="modal" data-target="#myModal">评论</a>
        </span>
      </div>
    </article>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">有想法？快来给博主评论吧！</h4>
        </div>
        <div class="modal-body">
          <%= render 'comments/form' %>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          有想法？快来给博主评论吧！
        </div>
        <div class="panel-body">
          <%#= render 'comments/form' %>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h4>评论：</h4>
      <%#= @article.comments typeof object %>
      <%# if @article.comments.empty? %>
        <%= render @article.comments %>
      <%# else %>
        <!-- <p>还没有评论！快来占沙发吧！</p> -->
      <%# end %>
    </div>
  </div>
  
</div>
<%#= @article.comments.create %>
<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
  <%= stylesheet_link_tag 'app/assets/stylesheets/governance/v2/articles/show' %>
<% end %>

<% content_for :javascript do %>
  <!-- $('.praise-btn').click(function(){
    $.ajax({
     type: "GET",
     url: "test.json",
     data: {count: $(".praise-count").val()+1},
     dataType: "json",
     success: function(data){
          $('#resText').empty();   //清空resText里面的所有内容 -->
         <!-- var html = '';  -->
         <!-- $.each(data, function(){ -->
      <!-- var praise_count = $(".praise-count").val();
      $(".praise-count").val(praise_count++); -->
               <!-- html += '<div class="comment"><h6>' + comment['username']
                         + ':</h6><p class="para"' + comment['content']
                         + '</p></div>'; -->
        <!--  }); -->
        <!-- $('#resText').html(html); -->
     <!--  }
    });
  }) -->
<% end %>
