<%= render 'shared/navigation_bar' %>

<div class="container-fluid">
  <div class="person-background">
  </div>
  <div class="user-name">
    <img src="<%= asset_path(@icon.icon_path) %>" class="icon-block" />
    <p><%= @user.name %></p>
  </div>
  <div class="row">
    <h3>个性签名</h3>
    <div class="note">
      <p><%= @user.signature %></p>
      <a href="javascript:void(0);" class="edit-signature">修改签名</a>
      <%= form_tag("/users", method: "get", class: "signature-form") do %>
        <div class="form-group">
          <%= label_tag(:q, "个性签名:", class: 'control-label') %><br>
          <%= text_area_tag :signature, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= submit_tag "发表签名", class: 'btn btn-primary' %><br>
        </div>
      <% end %>
    </div>
  </div>
  <!-- <div class="row">
    <h3>最新动态</h3>
    <div class="note">
      <p>我是最新发布的文章，我是最新发布的文章，我是最新发布的文章，我是最新发布的文章，我是最新发布的文章，我是最新发布的文章，我是最新发布的文章，我是最新发布的文章</p><a href="">查看详情</a>
    </div>
  </div> -->
</div>

<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
  <%= stylesheet_link_tag 'app/assets/stylesheets/governance/v2/users/index.css' %>
<% end %>

<% content_for :javascript do %>
<% end %>
