<div class="container-fluid login">
<div class="login-bg-drop">
  <!-- <h1 class="text-center">注册</h1> -->
  <div class="col-sm-4 col-sm-offset-4 panel panel-default login-form">
    <div class="panel-body">
      <%= form_for @user, class: '' do |f| %>
        <div class="form-group">
          <%= f.label '名称', class: 'control-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label '密码', class: 'control-label' %>
          <%= f.text_field :password, class: 'form-control' %>
        </div>
        <div class="form-group select-icon-block">
          <%= f.label 'icon', class: 'control-label' %>
          <%= f.text_field :icon_id, class: 'form-control select-icon' %>
        </div>
        <div class="form-group">
          <%= f.submit '注册', class: 'btn btn-primary form-control' %>
        </div>
        <p class="text-right"><small>已有账号？快去<%= link_to '登录', new_session_path %></small></p>
      <% end %>
    </div>
  </div>
  </div>
</div>

<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
  <%= stylesheet_link_tag 'app/assets/stylesheets/governance/v2/users/new.css' %>
<% end %>

<% content_for :javascript do %>
<% end %>
