<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css' %>
    <%= javascript_include_tag 'http://cdn.bootcss.com/jquery/3.1.1/jquery.js' %>
    <%= javascript_include_tag 'http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js' %>
    <%= stylesheet_link_tag 'app/assets/stylesheets/governance/v2/shared/navigation_bar.css'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
