<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="">首页</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">分类文章概览<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="">技术类</a></li>
          <li><a href="">摄影类</a></li>
          <li><a href="">旅游类</a></li>
        </ul>
      </li>
      <li><a href="">留言板</a></li>
      <li><a href="">个人展示</a></li>
      <li><a href="">登录</a></li>
      <li><a href="">注册</a></li>
    </ul>
  </div>
</nav>
<% unless flash[:errors].nil? %>
<%= flash[:errors] %>
<%= flash[:errors] = nil %>
<% end %>


<form method="post" action="<%= leave_messages_path %>">
  留言者：<input name="commenter"><br>
  内容：<input name="body"><br>

  <button type="submit">创建留言</button>
</form>

留言：

<% @leave_messages.each do |lm| %>

    <p>
      <label><%= lm.commenter %>：</label>
      <label><%= lm.body %> / </label>
      <label><%= lm.created_at %></label>
    </p>
<% end %>
<%= will_paginate @leave_messages, renderer: BootstrapPagination::Rails %>

