<%= render 'shared/navigation_bar'%>
<% unless flash[:errors].nil? %>
<%= flash[:errors] %>
<%= flash[:errors] = nil %>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 leave_messages_edit">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">请留下您的看法吧</h4>
        </div>
        <div class="panel-body">
          <form method="post" action="<%= leave_messages_path %>">
            <div class="form-group">
              <label class="control-label">留言者：</label>
              <input class="form-control" type="text" name="commenter">
            </div>
            <div class="form-group">
              <label class="control-label">内容：</label>
              <input class="form-control" type="text" name="body">
            </div>

            <button type="submit" class="btn btn-primary">创建留言</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h4>留言：</h4>

      <% @leave_messages.each do |lm| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= lm.commenter %><span class="pull-right"><%= lm.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span></h4>
          </div>
          <div class="panel-body">
            <%= lm.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= will_paginate @leave_messages, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
  <%= stylesheet_link_tag "app/assets/stylesheets/governance/v2/leave_messages/index"%>
<% end %>

<% content_for :javascript do %>
  
<% end %>
