<div class="container-fluid">
  <h1 class="text-center">登录</h1>
  <div class="col-sm-4 col-sm-offset-4 panel panel-default">
    <div class="panel-body">
      <%= form_tag sessions_path, method: :post do %>
        <div class="form-group">
          <%= label_tag :loginname, nil, class: 'control-label' %>
          <%= text_field_tag :name, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :loginpassword, nil, class: 'control-label' %>
          <%= text_field_tag :password, nil, class: 'form-control' %>
        </div>
        <%= submit_tag nil, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
  <%= stylesheet_link_tag '//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js' %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag '//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js' %>
  <%= javascript_include_tag '//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js' %>
<% end %>
